### Gradle ###
.gradle/
build/
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea/
*.iml
*.iws

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

### Logs ###
logs/
*.log

### macOS ###
.DS_Store

### Windows ###
Thumbs.db
ehthumbs.db
desktop.ini

### Temporary files ###
*.tmp
*.swp
*.bak
